 {% extends './base.html' %} 
 
 {% block title %}
     home
 {% endblock title %}
     
 {% csrf_token %}
 
 {% block content %}

<h1 class="text-center">Welcome to Krish's Blog</h1>
{% load static %}
<img src="{% static 'posts/main.jpg' %}" class="img-responsive center-block" style="max-height: 150px;"/>

{% for post in posts.all %}

<h3><a href="{% url 'postdetails' post.id %}">{{post.title}}</a></h3><br>
<span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{post.pub_datePretty}}
<img src="{{post.image.url}}" class="img-responsive center-block" style="max-height: 150px;"/><br>
<span>{{post.summary}}</span><br> 
{% endfor %} 
{% endblock content %}