<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% csrf_token %}
    <h1>Welcome to Krish's Blog</h1>

    {% for post in posts.all %}
    
    <h3><a href="{% url 'postdetails' post.id %}">{{post.title}}</a></h3><br>
    <span>{{post.pub_datePrettty}}</span><br>
    <img src="{{post.image.url}}"/><br>
    <span>{{post.summary}}</span><br>
    {% endfor %}

</body>

</html>